<div class="navbar">
    <div class="top">
        <mat-icon [inline]='true'>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/636/683/small/admin-3d-illustration-icon-png.png" alt="">
        <h4 class="name">Mehmet Can</h4>
        <p class="mail">admin@gmail.com</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>dashboard</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['/dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Anasayfa</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/employees']">
                <mat-icon>list</mat-icon>
                <span>Employees</span>
            </button>
        </div>
    </div>
</div>
